# Python cache
__pycache__/
*.pyc
*.pyo
.env

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Raw data (too large for GitHub)
data/raw/

# Keep processed and exports (needed for Streamlit Cloud)
# data/processed/ ← DO NOT ignore
# outputs/exports/ ← DO NOT ignore